.navCard{
    width: 200px;
    height: 250px;
    padding-top: 70px;
    font-weight: bold;
}
#navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    margin-top:15vh;
}
#backButton{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 110px;
    padding: 30px;
    animation: fade-in-bottom 0.2s .3s linear both;
}